body {
  margin: 1rem;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
  --color: #3788d8;
}

.calendar td,
.calendar th {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.calendar th {
  border-color: #fff;
  border-bottom-width: 2px;
  width: calc(100% / 7);
}

.calendar td {
  vertical-align: top;
  width: calc(100% / 7);
  max-width: 0;
  margin: 0;
  padding: 0;
}

.calendar_cell {
  --padding: 0.5rem;
  padding: var(--padding);
  aspect-ratio: 1;

  min-width: 0;
  width: 100%;
}

.calendar_date {
  text-align: right;
}

.calendar_date-diff {
  opacity: 0.3;
}

.calendar_events {
  position: relative;
  padding-top: calc(var(--offset) * 24px);
}

.calendar_event-hours {
  font-size: 0.9rem;
}

.calendar_event-hour {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.calendar_event-hour::before {
  content: "";
  flex: none;
  width: 8px;
  height: 8px;
  display: block;
  border-radius: 50%;
  background-color: var(--color);
}

.calendar_event-hour span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar_event-fullday {
  position: absolute;
  --overflow: 0px;
  width: calc(100% * var(--days) + (var(--padding) * 2 + 1px) * (var(--days) - 1) + var(--overflow));
  background-color: var(--color);
  color: #fff;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  padding: 0 5px;
  top: calc(var(--offset) * 24px);
}

.calendar_event-overflow-left {
  margin-left: calc(var(--padding) * -1);
  --overflow: var(--padding);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.calendar_event-overflow-right {
  --overflow: var(--padding);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.calendar_event-overflow-left.calendar_event-overflow-right {
  --overflow: calc(var(--padding) * 2);
}

.calendar_event-doctor {
  --color: #ff5858;
}

.calendar_event-holidays {
  --color: #74b057;
}
